@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

body,
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;

}

h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-top: 0;
    color:#66cc99 ;
    padding-bottom: 5rem;
}


.search {
    padding-top: 2.5rem;
     padding-bottom: 2.5rem;
}
 .search button {
    background-color: #ffffff;
    border-color: #66cc99;
    border: solid;
    color: #66cc99;
    padding: 0.5em 1.0em;
    display: inline-block;
 }
 
 .search button:hover {
    color: #ffffff;
    background-color: #66cc99;
 }

 /*Recipe Results*/
 #spacer {
  margin-top:20px;
}

 ul li {
  list-style-type: none;
  margin:0;
  padding:0;
}

img {
  display:block;
  margin: 0 auto;
}

.btn-default {
  width: 100%;
  background-color: #eaf8f1;
}